* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



/***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #e3dfdf);
}

.header .row {
    margin-top: 40px;

}

.categories {
    margin: 5rem 0;

}

.col-3 {
    flex: 30%;
    max-width: 200px;
    margin-bottom: 30px;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}

.col-3 img {
    width: 100%
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;

}

.col-4 p {
    font-size: 14px;

}

.col-4:hover {
    transform: translateY(-5px);
}

/---------offer----------/

.offer{
    background: radial-gradient(#fff, #e3dfdf);
    margin-top: 80px;
    padding: 30px 0;

}
.col-2 .offer-img{
    padding : 50px;
}
small{
    color: #555;
}
/------footer-----/
.footer{
    background:#201f1c;
    color:#8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:#8a8a8a;

}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width:250px;
    margin-bottom: 20px;
} 
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img {
    width:140px;
    border-radius: 50px;
}
.menu-icon{
    margin-left: 20px;
}
/* new */
.category{
    padding: 5rem;
}
.category .types{
    text-align: center;
}
.category button{
    background-color: transparent;
    border: none;
    padding: .5rem 1rem;
    margin: 0 1rem;
    font-weight: 800;
    transition: .3s all ease;
    cursor: pointer;
}
.category button:hover{
    transform: scale(1.1);
}

.category .types .active{
    border-bottom: 2px solid black;
}

.category .products{
    display: flex;
    flex-wrap: wrap;
}

.category .products .product{
    width: calc( ( 100% - 8rem ) / 4 );
    margin:  1rem;
    transition: all .3s ease;
}
.category .products .product:hover{
    transform: translateY(-5px);
}
.category .products .product img{
    width: 100%;
}
.category .products .product button{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}