/* .list-container{
  padding: 30px;
 

} */
.list-container h1,h2{
    margin: 5px ;
    margin-bottom: 30px;
    text-align: center;
} 
.task-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    justify-content: center;
    align-items: center;
}